.cover {
  border-radius: 50px;
  object-fit: cover;
  height: 350px;
  width: 100%;
}

.select-button {
  width: 75%;
  height: 100%;
}

.dropdown-menu {
  width: 75%;
}

#quiz-select-button {
  width: 38%;
}
